* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.display-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bfbaca;
}

.display {
    background-color: #f0e6fb;
    width: 500px;
    height: 400px;
    padding: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.books {
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin-top: 5px;
}

.book-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c9b9ed;
    height: 50px;
    width: 100%;  
}

.add-book {
    background-color: #ad97dd;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
}

.add-book:hover {
    background-color: #7d5dc1;
}

#book-form {
    display: none;
    margin-top: 10px;
    padding: 10px 40px;
}

.book-form form {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

.book-form button {
    width: 100px;
    height: 35px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #ad97dd;

    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.book-form button:hover {
    background-color: #7d5dc1;
}