* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.display-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bfbaca;
}

.display {
    background-color: #f0e6fb;
    width: 500px;
    height: 400px;
    padding: 5px;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.book-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c9b9ed;
    height: 50px;
    width: 100%;  
}

.add-book {
    background-color: #ad97dd;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.add-book:hover {
    background-color: #7d5dc1;
}